.product-image {
    overflow: hidden !important;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}